<div class="xm-page-wrap">
  <ul class="xm-pages">
    <li class="xm-page" *ngFor="let item of listOfPageItems" [class.disabled]="item.disabled" (click)="pageClick(item)"
      [class.checked]="item.num === pageNum">
      <ng-container [ngSwitch]="item.type">
        <!-- 页码标签 -->
        <a *ngSwitchCase="'page'">{{item.num}}</a>

        <!-- 默认显示左右两个箭头标签 -->
        <ng-container *ngSwitchDefault>
          <span [ngSwitch]="item.type">
            <i *ngSwitchCase="'prev'" appIcon="previewleft" class="icon"></i>
            <i *ngSwitchCase="'next'" appIcon="previewright" class="icon"></i>
            <i *ngSwitchDefault appIcon="more" class="icon"></i>
          </span>
        </ng-container>
      </ng-container>
    </li>
  </ul>
  <div class="xm-page-navigate">
    <!-- 添加模板引用 #to -->
    <!-- 加号可以把字符串改为number类型，把布尔改为0或者1，可以看做是包了一个Number() -->
    <input type="number" class="xm-input" #to (keyup.enter)="inputValue(+to.value)" [min]="1" [max]="lastNum"/>
    <button (click)="inputValue(+to.value)">跳转</button>
  </div>
</div>