<div class="main-content">
  <!-- 调试tag组件 -->
  <!-- <app-tag class="xm-tag xm-tag-magenta">一个关闭标签</app-tag> -->
  <!-- <app-tag class="xm-tag">一个关闭标签</app-tag> -->
  <!-- <app-tag class="xm-tag" xmColor="orange">一个关闭标签</app-tag> -->

  <!-- 将颜色设置为变量，因为调试改变颜色会有问题 -->
  <!-- <app-tag class="xm-tag" [xmColor]="tagColor">一个关闭标签</app-tag> -->
  <!-- 不传[xmColor]="tagColor"不会执行onChange生命周期 -->
  <!-- <app-tag class="xm-tag">一个关闭标签</app-tag> -->
  
  <!-- 这里是一个变量 xmCloseble -->
  <!-- <app-tag class="xm-tag" xmShape="circle" [xmCloseble]="true" [xmColor]="tagColor">一个关闭标签</app-tag>
  <button (click)="tagColor = 'orange' ">点击改变tag颜色</button>
  <button (click)="tagColor = 'pink' ">用户传入自定义颜色</button> -->
  <div class="categories">
    <ul>
      <li [class.checked]="!searchParams.subcategory" (click)="changeSubCategory()">全部</li>
      <li (click)="changeSubCategory(item)" [class.checked]="item.code===searchParams.subcategory"
        *ngFor="let item of categoryInfo?.subcategories;trackBy:trackBySubcategories">
        {{item.displayValue}}
      </li>
    </ul>
  </div>
  <div class="conditions">
    <ng-container *ngFor="let rows of categoryInfo?.metadata">
      <div class="row" *ngIf="showMetaRow(rows.name)">
        <b class="title">{{rows.displayName}}</b>
        <ul class="tabs">
          <li class="tag" (click)="changeMeta(rows,row)" *ngFor="let row of rows?.metaValues;trackBy:trackByMetas">
            {{row.displayName}}
          </li>
        </ul>
      </div>
    </ng-container>

    <!-- 筛选条件 -->
    <div class="row checked-conditions" *ngIf="checkedMetas.length">
      <b class="title">已筛选</b>
      <ul class="tabs">
        <li class="tag checked" *ngFor="let item of checkedMetas">
          <span class="label-title">{{item.metaRowName}}</span>
          <app-tag [xmCloseble]="true" (closed)="clearFilter(item)">{{item.metaName}}</app-tag>
        </li>
      </ul>
      <a class="clear" (click)="clearFilter('clearAll')">清除全部</a>
    </div>
  </div>

  <!-- 专辑列表 -->
  <div class="albums">
    <div class="album-head">
      <div class="title">
        <b>{{ albumsInfo?.pageConfig?.h1title }}</b>
      </div>
      <ul class="sort">
        <li [class.checked]="i === searchParams.sort" *ngFor="let item of sorts; index as i" (click)="changeSort(i)">
          {{item}}
        </li>
      </ul>
    </div>
    <div class="album-cards">
      <div class="album-card" [routerLink]="'/album/' + album.albumId"
        *ngFor="let album of albumsInfo?.albums; trackBy: trackByAlbums">
        <div class="cover">
          <!--    图片地址加上!strip=1&quality=7&magick=webp&op_type=3&columns=290&rows=290，尺寸就会变为140 * 140      -->
          <!-- album.coverPath 接口请求到的图片数据为: //imagev2.xmcdn.com/storages/b635-audiofreehighqps/F1/A4/GKwRIDoGKgV4AALQAAE6A9KP.jpg!op_type=0&magick=webp&unlimited=0,
            但目前官网中的地址需要截取去掉!op_type=0&magick=webp&unlimited=0再拼接尺寸数据才是正确的图片地址，否则回报404或500 -->
          <img class="thumbnail"
            [src]="splitImgUrl(album.coverPath) + '!strip=1&quality=7&magick=webp&op_type=3&columns=290&rows=290'"
            [alt]="[album.title]">
          <!-- 接口原来的尺寸大小  官网地址:https://www.ximalaya.com/-->
          <!-- <img class="thumbnail" [src]="album.coverPath" [alt]="[album.title]"> -->
          <img class="icon-play" src="../../../assets/images/icon-play-cover.png" />
          <p class="listen-count">
            <!-- <i class="icon iconfont icon-headset"></i> -->
            <!-- 使用icon指令 appIcon -->
            <!-- <i appIcon class="icon iconfont icon-headset"></i> -->
            <!-- 这里直接给一个值 -->
            <i appIcon="headset" class="icon"></i>
            <!-- appIcon不写死 用变量替代
            <i [appIcon]="currentIcon" class="icon"></i> -->

            <!-- 方法1
            <span>{{ album.playCount | numberFormat:'亿' : 2}}亿</span> -->
            <span>{{ album.playCount | numberFormat}}万</span>

            <!-- 方法2
            注意：需要有空格否则会报错{ precision : 3}与外面的花括号之间要有空格 -->
            <!-- <span>{{ album.playCount | numberFormat: { precision : 3} }}亿</span> -->
            <!-- <span>{{ album.playCount | numberFormat: { unit : '亿'} }}亿</span> -->
          </p>
        </div>
        <div class="abstract">
          <!-- 点击测试icon指令
          <p class="txt title ellipsis" (click)="currentIcon='Star'"> -->
          <p class="txt title ellipsis">
            <app-tag *ngIf="album.isFinished === 2" [xmColor]="'green'" class="tag">完本</app-tag>
            <span>{{ album.title }}</span>
          </p>
          <!-- <p class="txt title ellipsis">
            <span *ngIf="album.isFinished === 2" class="tag">完本</span>
            <span>{{ album.title }}</span>
          </p> -->
          <p class="txt author"><span>{{ album.anchorName }}</span></p>
        </div>
      </div>
    </div>
  </div>

  <!-- 分页 -->
  <app-pagination></app-pagination>
</div>