<div class="main-content">
  <div class="categories">
    <ul>
      <li [class.checked]="!searchParams.subcategory" (click)="changeSubCategory()">全部</li>
      <li (click)="changeSubCategory(item)" [class.checked]="item.code===searchParams.subcategory"
        *ngFor="let item of categoryInfo?.subcategories;trackBy:trackBySubcategories">
        {{item.displayValue}}
      </li>
    </ul>
  </div>
  <div class="conditions">
    <ng-container  *ngFor="let rows of categoryInfo?.metadata">
      <div class="row" *ngIf="showMetaRow(rows.name)">
        <b class="title">{{rows.displayName}}</b>
        <ul class="tabs">
          <li class="tag" (click)="changeMeta(rows,row)" *ngFor="let row of rows?.metaValues;trackBy:trackByMetas">
            {{row.displayName}}
          </li>
        </ul>
      </div>
    </ng-container>

    <!-- 筛选条件 -->
    <div class="row checked-conditions" *ngIf="checkedMetas.length">
      <b class="title">已筛选</b>
      <ul class="tabs">
        <li class="tag" *ngFor="let item of checkedMetas" (click)="clearFilter(item)">
          <span class="label-title">{{item.metaRowName}}</span> |
          <span>{{item.metaName}}</span>
        </li>
      </ul>
      <a class="clear" (click)="clearFilter('clearAll')">清除全部</a>
    </div>
  </div>
  <div class="albums">
    albums
  </div>
</div>